<%time = Time.now%>
           <% time = time.to_formatted_s(:number)%>
          <%=  time = time[9,3]%>
          <%  time = time.to_i - 800%>
<% provide(:title, "About") %>
<h1>About Us</h1>
<p>
  This is a restaurant booking app made by members of group 14 in CMPT 276. Throughout the semester we will be adding more exciting new features to keep
  our users excited and happy about using our app.
</p>