<% provide(:title, 'Contact') %>
<style>
h2 {
    position: relative;
    left: -50px;
    top: -120px;
}
</style>
<h1>Contact</h1><br>
<p><br>
  Jeremy Ng Cheng Hin: Useless Workaholic<br>
  Phone Number: 778-868-3315, Email: jngcheng@sfu.ca <h2><img src="https://scontent-sea1-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/11751447_10206820280806497_5986195981809139589_n.jpg?oh=bc81dbf81d897135b75ded1dd13b9840&oe=56B47AE4" alt="Mountain View" style="width:150px;height:150px;"></h2><br>
</p>