<% provide(:title, 'Contact') %>
<style>
h2 {
    position: relative;
    left: -50px;
    top: -120px;
}
</style>
<h1>Contact Us</h1>
<p>
  Jeremy Ng Cheng Hin, Email: jngcheng@sfu.ca <br>
  Matthew Tseng, Email: mwtseng@sfu.ca <br>
  Edwin Li, Email: ejli@sfu.ca<br>
  Zhihao Zhou, Email: zhihaoz@sfu.ca<br>
  Xiao Xu, Email: xxa26@sfu.ca <br>
</p>