<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
 Please email one of the group members and we'll answer your queries as soon as we can.<br>
 <%= link_to "Click here to go to the contact page", contact_path%>
</p>