<div class="center jumbotron">
  <h1>Welcome to the Restaurant Booking</h1>

  <h2>
    This is the home page for Restaurant Booking!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Search for restaurants!", new_search_path ,class: "btn btn-lg btn-primary"%>
</div>
