// Place all the styles related to the Bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin centered() {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.Booking-Wrap {
  @include centered;
  width: 450px;
  height: 350px;
  padding: 10px;
  margin-left: 450px;
  margin-top: -263px;
  h1{
   color: white;   
  }
  h2{
      color:red;
  }
}
.Booking-Wrap1 {
  @include centered;
  width: 300px;
  height: 300px;
  padding: 10px;
  margin-left: 650px;
  margin-top: -500px;
}
